* {
    box-sizing: border-box;
  } 
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button {
    width: 100px;
  }